body{
  background-color: #8758af;

}

.TodoWrapper{
  margin: 60px auto;
  padding: 30px;
  width: 500px;
  text-align: center;
  background-color: #1d0333;
  color: #fff;
  border-radius: 40px;
  
}


.todo-input{
  padding: 0.55rem;
  margin-bottom: 2rem;
  background-color: #1d0333;
  width: 300px;
  color: #fff;
  border-color: #8758ff ;
  font-size: 1.2rem;

}

.todo-input::placeholder{
  color:#ffffff4d
}

.todo-btn{
  background: #8758ff;
  color: #fff;
  border: none;
  padding: .60rem;
  cursor: pointer;
  width: 100px;
  border-radius: 3px;
}

.TodoForm{
  width: 500px;
}

.Todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background : #8758ff;
  color: #fff;
  padding: 0rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 22px;
}

.completed{
  color : #c5aeff;
  text-decoration: line-through
}

.btns{
  cursor: pointer;
  color: #fff;
  background: #8758ff;
  margin: 5px;
  border-radius: 10px;
  font-size: 18px;
}